.navbar {
    position: relative;
}

.login-container {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

#submit_button {
    width: 200px;
    transition: width 0.5s;
}
#submit_button:hover {
    width: 100px;
}
