{% extends 'base.j2'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h1>Admin</h1>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.url) }}
        {{ wtf.form_field(form.submit_button) }}
    </form>

</div>
{% endblock %}
